.ItemLinks {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15px;
}

.ItemLink + .ItemLink {
    margin-left: 5px;
}

.Pointer {
    cursor: pointer;
}

.ItemPanel {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Roboto, sans-serif;
}

.ItemImgContainer {
    user-select: none;
    width: 70%;
    height: 45vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 5px;

    img {
        width: 100%;
    }
}

.Thin {
    width: calc(70% - 100px);
    height: 35vw;
}

.ImgOpacity {
    opacity: 1;
    transition: opacity .6s ease;
}

.InvisibleImg {
    position: absolute;
    opacity: 0;
}

.ImgBtn {
    position: absolute;
    color: rgb(21, 21, 21);
    cursor: pointer;
    transition: opacity .3s ease;

    &:hover {
        opacity: 0.7;
    }
}

.LeftImg {
    left: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;

    img {
        width: 100%;
    }
}

.RightImg {
    right: 5px;
    width: 30px;
    height: 30px;
    transform: rotate(180deg);
    display: flex;
    align-items: center;

    img {
        width: 100%;
    }
}

.ItemInfo {
    width: 28%;
}

.SizeTypes2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        top: 100%;
        left: 0;
        background-color: rgba(21, 21, 21, 0.15);
    }
}

.Centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.SizeUnderline {
    position: absolute;
    width: 20%;
    height: 1px;
    background-color: rgb(21, 21, 21);
    top: 100%;
    left: 0;
    transition: left 0.3s ease-in-out;
}

.SizeType {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(21, 21, 21, 0.4);
    cursor: pointer;
}

.ChosenSize {
    color: rgb(21, 21, 21);
}

.SizesGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-top: -5px;
}

.SizeBtn {
    margin-left: 5px;
    margin-top: 5px;
    width: calc(100% / 4 - 5px);
    height: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;

    span {
        max-width: 95%;
    }

    &:hover {
        background-color: rgba(21, 21, 21, 0.06);
    }
}

.BGGrey {
    background-color: rgba(21, 21, 21, 0.03);
}

.RedPrice {
    font-size: 14px;
    color: rgb(21, 21, 21);
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.RedSale {
    color: rgb(170, 0, 0);
}

.GreyAsk {
    font-size: 14px;
    color: rgba(21, 21, 21, 0.7);
    margin-top: 5px;
}

.ChosenBtn {
    background-color: rgb(21, 21, 21) !important;
    color: white !important;

    .RedPrice {
        color: rgba(255, 255, 255, 0.7);
    }
}

.ItemBuy {
    margin-top: 50px;
}

.QualityItem {
    width: calc(100% - 20px);
    padding: 5px 10px;
    background-image: linear-gradient(to right, rgb(255, 212, 220), rgb(187, 210, 255));
    margin-bottom: 20px;
    border-radius: 5px;
}

.BuyBtn {
    width: calc(100% - 80px);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 38px;
    background-color: white;
    color: rgb(21, 21, 21);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(21, 21, 21, 0.08);
    border: solid 2px rgb(21, 21, 21);
    cursor: pointer;
    transition: background-color .3s ease, color .3s ease;

    &:hover {
        background-color: rgb(21, 21, 21);
        color: white;

        .BuyLine {
            background-color: rgba(255, 255, 255, 0.5);
        }
    }
}

.BuyBtn+.BuyBtn {
    margin-top: 20px;
}

.BuyNow {
    background-color: rgb(21, 21, 21);
    border: solid 2px rgb(21, 21, 21);
    padding: 10px 38px;
    color: white;
}

.OrderItemModal {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw - 80px);
    height: calc(100vh - 80px);
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(30px);
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(-100%);
    transition: transform 0.3s ease;
    padding: 40px;
}

.VisibleOrderItem {
    transform: translate(0);
}

.CloseOrderItem {
    margin-left: auto;
}

.BuySize {
    width: fit-content;
}

.BuyLine {
    margin: 0 20px;
    height: 15px;
    width: 0.5px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color .3s ease;
}

.BuyText {
    margin: auto;
}

.ItemDetails {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Roboto, sans-serif;
}

.DetailsLeft {
    width: calc(72% - 50px);
    display: flex;
    flex-direction: column;
}

.DetailsRight {
    width: 28%;
    display: flex;
    flex-direction: column;
}

.DetailArt, .DetailBrand {
    padding: 15px 0;
    border-bottom: 1.5px solid rgba(21, 21, 21, 0.15);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.DetInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ItemInfoTabs {
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    width: 795px;
    max-width: 100%;
    position: relative;
    overflow-x: scroll;
    overflow-y: visible;
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;

    &::-webkit-scrollbar {
        display: none;
        width: 0;
    }

    &::before {
        content: '';
        position: absolute;
        top: calc(100% - 2px);
        height: 1px;
        width: 100%;
        background-color: rgba(21, 21, 21, 0.15);
    }
}

.ChosenTab {
    &::before {
        content: '';
        position: absolute;
        top: calc(100% - 2px);
        left: 0;
        height: 1px;
        width: 100%;
        background-color: rgb(21, 21, 21);
    }
}

.ItemTab {
    height: 100%;
    width: fit-content;
    position: relative;
    display: flex;
    align-items: center;
    font-size: 18px;
    padding: 0 15px;
    user-select: none;
    cursor: pointer;
    white-space: nowrap;
}

.InvisibleTab {
    display: none;
}

.Bold {
    font-weight: 700;
}

.ItemNameItem {
    margin-top: 20px;
    font-size: 36px;
}

.ItemPriceItem {
    margin-top: 5px;
    width: fit-content;
    position: relative;
    letter-spacing: 0.05em;
}

.NoTax {
    margin-top: 10px;
    font-size: 14px;
}

.InvisibleSale {
    display: none;
}

.ItemSaleItem {
    font-size: 20px;
    background-color: rgba(170, 0, 0, 0.8);
    width: fit-content;
    padding: 4px 5px;
    color: white;
    border-radius: 7px;
}

.ItemSaledPriceItem {
    margin-top: 5px;
    font-size: 20px;
    color: rgb(170, 0, 0);
    letter-spacing: 0.05em;

    span {
        font-size: 16px;
    }
}

.GreenCheck {
    color: rgb(35, 163, 35);
    margin-left: 5px;
}

.ItemImagesSmall {
    width: 75px;
}

.SmallImg {
    width: 100%;
    height: 55px;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img {
        width: 100%;
    }
}

.SmallImg+.SmallImg {
    margin-top: 20px;
}

.NowImg {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.SizesInfo {
    width: fit-content;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.BlackCircle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    border-radius: 50px;
    border: solid 1px rgb(21, 21, 21);
    margin-right: 5px;
}

.Underlined {
    text-decoration: underline;
}

.ItemImagesSmall2 {
    display: none;
}

.SizesTable {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;

    table {
        pointer-events: none;
    }
}

.NonSizes {
    display: none;
}

.SizesText {
    margin-top: 10px;
    height: 120px;
    overflow: hidden;
    transition: height .6s ease;
}

@media (max-width: 1294px) {
    .SizesText {
        height: 150px;
    }
}

.SizesHidden {
    height: 0;
}

.SizesModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.VisibleSizes {
    display: flex;
    flex-direction: column;
}

.GoShopping {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: rgb(21, 21, 21);
    margin-top: 50px;
}

.GoSub {
    font-size: 30px;
    margin-bottom: 15px;
}

.GoPar {
    max-width: 400px;
    text-align: center;
    margin-bottom: 20px;
}

.GoBtns {
    display: flex;
    flex-direction: row;

    button {
        padding: 15px 20px;
        background-color: rgba(21, 21, 21, 0.05);
        font-size: 16px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(21, 21, 21, 0.06);
        transition: background-color .7s ease;

        &:hover {
            background-color: white;
        }
    }

    button + button {
        margin-left: 10px;
    }
}

@media (max-width: 1260px) {
    .ItemImgContainer {
        width: 65%;
    }

    .Thin {
        width: calc(65% - 120px);
    }

    .ItemInfo {
        width: 37%;
    }

    .DetailsLeft {
        width: calc(63% - 50px);
    }

    .DetailsRight {
        width: 37%;
    }
}

@media (max-width: 1030px) {
    .ItemPanel {
        flex-wrap: wrap;
    }

    .ItemDetails {
        flex-direction: column;
    }

    .DetailsLeft {
        width: 100%;
    }

    .DetailsRight {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 100px;
    }

    .DetailArt, .DetailBrand {
        flex-direction: column;
    }

    .DetSub {
        opacity: 0.6;
        margin-bottom: 10px;
    }

    .DetInfo {
        width: 100%;
        justify-content: space-between;
    }

    .ItemInfo {
        width: 100%;
        margin-top: 30px;
    }

    .SizeBtn {
        width: calc(16.6% - 5px);
    }

    .ItemImgContainer {
        width: calc(100% - 80px);
        height: 50vw;
    }

    .ItemSaleItem {
        font-size: 12px;
    }

    .ItemNameItem {
        font-size: 16px;
        margin-top: 5px;
    }

    .ItemSaledPriceItem {
        font-size: 16px;
        margin-top: 10px !important;
    }

    .ItemPriceItem {
        font-size: 16px;
        margin-top: 5px !important;
    }

    .SizeTypes2 {
        margin-top: 20px;
    }

    .ItemInfoTabs {
        margin-top: 50px;
    }
}

@media (max-width: 760px) {
    .ItemInfoTabs {
        margin-bottom: 20px;

        &::before {
            display: none;
        }
    }

    .ItemTab {
        height: 40px;

        &::after {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            height: 0.5px;
            width: 100%;
            background-color: rgba(21, 21, 21, 0.15);
        }
    }
}

@media (max-width: 730px) {
    .SizeBtn {
        width: calc(20% - 5px);
    }

    .ItemImgContainer {
        width: calc(100% - 80px);
    }
}

@media (max-width: 650px) {
    .ItemPanel {
        flex-direction: column;
    }

    .ItemImagesSmall {
        display: none;
    }

    .ItemImgContainer {
        width: 100%;
        margin-bottom: 20px;
        height: 60vw;
    }

    .ItemImagesSmall2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        overflow-x: scroll;
    }

    .SmallImg {
        width: 50px;
        height: 35px;
        border-radius: 5px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-top: 0 !important;

        img {
            width: 100%;
        }
    }

    .SmallImg+.SmallImg {
        margin-left: 10px;
    }
}

@media (max-width: 550px) {
    .SizeBtn {
        width: calc(25% - 5px);
        font-size: 14px;

        span {
            font-size: 12px;
        }
    }
}

@media (max-width: 390px) {
    .BuyBtn {
        width: calc(100% - 20px);
        padding: 10px 8px;
    }

    .BuyLine {
        margin: 0 5px;
    }
}